a {
	background: transparent;
	text-decoration: none;
	-webkit-tap-higtlight-color:transparent;
	color: #0088cc;
}

.am-list-news-hd.am-cf {
  width: 100%;
}

.am-list {
  margin-bottom: 0; 
}

.am-list-item-hd.self-title {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.am-list-item-hd.self-content {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.first-span {
	margin-left: 20px;
}

.am-header-self {
	background-color: #ff7200;
}

.am-header-self .am-header-title, .am-header-self .am-header-title a {
    color: #fff;
}

.am-header-self .am-header-nav>a {
    display: inline-block;
    min-width: 36px;
    text-align: center;
    color: #eee;
}

.am-header-self .am-header-icon {
    font-size: 20px;
}

.am-input-self {
    background-color: #ff7200;
	color: #fff;
}

@media (max-width: 460px) {
	.first-span {
		display: none;
	}
	.second-span {
		margin-left: 10px;
	}
}

.highlight {
	color: #c7254e;
}